.searchtitle{
  font-family: 'Indie Flower', cursive;
}
#region01::before{
   content:'';
   width:0;
   height:200px;
   display:inline-block;
   position:relative;
   vertical-align:middle;
   background:#f00;
   
}
#region01{
  display: inline-block;
  ertical-align: middle;
}
#for_random{
  cursor:pointer;
  visibility:visible;
  font-family: 'Open Sans', sans-serif;
  color:#555;
}
body{
  background-image: url(http://i.imgur.com/WyWrNny.gif);
}
#searchform{
  margin: 0 auto; 
  width:250px;
}
.searchinput{
  display: inline;
  width:100%;
}
.searchclear{
  position: absolute;
  right:5px;
  top:0;
  bottom: 0;
  margin: auto;
  height: 14px;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}
.submitbtn{
  display: inline;
  visibility: hidden;
}
.item{
  border-radius: 10px;
  border-style:solid;
  border-color:#66D;
  background-color:#9E9;
  width:80%;
  margin: auto;
  cursor: pointer;
}
.item:hover{
  border-left-color: #ffaa22;
  border-right-color: #ffaa22;
  border-bottom-color: #ff8800;
  border-top-color: #ff8800;
}

.noresult{
  border-radius: 25px;
  border-style:solid;
  border-color:#66D;
  background-color:#E99;
  height:50px;
  width:50%;
  margin: auto;
}